name: Build ML-DSA-65 WASM

on: [push, workflow_dispatch]

jobs:
  build-wasm:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: wasm32-unknown-unknown

      - name: Install wasm-pack
        run: cargo install wasm-pack

      - name: Build WASM
        # Sử dụng cờ để tránh lỗi các thư viện I/O nếu có
        # run: RUSTFLAGS='--cfg=web_sys_unstable_apis' wasm-pack build --target web --release
        env:
          # Thêm flag wasm_js vào RUSTFLAGS
          RUSTFLAGS: "--cfg=getrandom_backend=\"wasm_js\""
        run: wasm-pack build --target web --release
      - name: Upload pkg folder
        uses: actions/upload-artifact@v4
        with:
          name: dilithium3-wasm
          path: pkg/
