name: Build ML-DSA-65 WASM

on: [push, workflow_dispatch]

jobs:
  build-wasm:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: wasm32-unknown-unknown

      - name: Install wasm-pack
        run: cargo install wasm-pack

      - name: Build WASM
        run: |
          # Tạo thư mục config cho Cargo trên server
          mkdir -p .cargo
          # Ghi đè cấu hình RUSTFLAGS vào file
          echo '[target.wasm32-unknown-unknown]' > .cargo/config.toml
          echo 'rustflags = ["--cfg", "getrandom_backend=\"wasm_js\""]' >> .cargo/config.toml
          
          # Chạy build
          wasm-pack build --target web --release
      - name: Upload pkg folder
        uses: actions/upload-artifact@v4
        with:
          name: dilithium3-wasm
          path: pkg/
